@import "/settings/colors";
@import "/settings/fonts";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-base);
  height: 100%;
  width: 100%;
  //background-image: url("../../src/assets/background.png");
}